### Standard Python Crap ###
**/__pycache__/**
**/nikola_src/cache/**
**/nikola_src/output/**
.DS_Store
**.rpyc
**.save
**.rpyb

### Ren'Py Game Files ###
game/cache/**.**
game/cache/**
game/cache/
game/saves/**.**
game/saves/**
game/saves/
game/**.rpyc
errors.txt
traceback.txt
**.txt
project.json
**-dists/

